<%= form_with(model: spend_category, id: 'new_category', multipart: true) do |form| %>
  <% if spend_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spend_category.errors.count, "error") %> prohibited this spend_category from being saved:</h2>

      <ul>
        <% spend_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

   <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.file_field :icon %>
  </div>

  <div class='none'>
    <%= form.submit "Save" %>
  </div>
<% end %>
