<%= link_to spend_category_spend_transactions_path(spend_category), class: "cat-item", id: dom_id(spend_category) do %>
  <div class="item-info">
    <div class="item-top">
      <span class="item-title"><%= spend_category.name %></span>
      <span class='item-amount'>$<%= spend_category.total_amount.presence || '0.0' %></span>
    </div>
    <div class="item-bottom">
      <span><%= spend_category.created_at.strftime('%e %B %Y') %></span>
    </div>
  </div>
  <%= image_tag(spend_category.icon, alt: "Category Icon", class: "item-img") %>
<% end %>
