<div id="<%= dom_id spend_transaction %>">
  <p>
    <strong>Name:</strong>
    <%= spend_transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= spend_transaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= 1000000000000 %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= spend_transaction.author_id %>
  </p>

</div>
